<a href="#main" class="skip-to-main-content">skip to main content</a>
<header class="site-header">
    <div class="header-bar">
        <a href="{{site.url}}" class="site-title">{{site.title}}</a>
        <div class = "nav-bar">
            <a href="#main" class="page-link">Github</a>
            {%for page in site.pages%}
                {%if page.inHeader%}
                    {%assign headerPage = page %}
                    <a href="{{headerPage.permalink | escape}}" class="page-link">{{headerPage.title}}</a>
                {%endif%}
            {%endfor%}
        </div>
    </div >
    <div class="divider">
        <div id="first-bar"></div>
        <div id="second-bar"></div>
        <div id="third-bar"></div>
        <div id="forth-bar"></div>
    </div>
</header>