//Applies to all languages
//comments
.c1{
    color: green;
}
//imports and conditionals 
.kn, .k{
    color: darkmagenta;
}
//strings and numbers 
.s{
    color: green;
}
.mi, .mf{
    color: blue;
}
