<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>{{page.title}}</h1>
        {{ content }}
        <ul>
          {%for post in site.posts limit:3 %}
          <li class="post-item">
            <a href="{{post.url | relative_url}}">  
              <h3>{{post.title}}</h3>
            </a>
            <div class="post-details">
              <p>Type: {{post.categories}}</p>
              <p>Date: {{post.date| split: '+'| slice:0}}</p>
            </div>
          </li>
          {%else%}
          <p>No Posts Found</p>
          {%endfor%}
        </ul>
      </div>
    </main>
    {% include footer.html %}
  </body>

</html>
